extends layout

block content
  .jumbotron
    p.lead
      | TweetPNG.com provides a super-simple API to display your latest tweet as an image.
  .row.marketing
    h2 How to do it...
    h3.text-center Please Note: This only works with the new <a href="https://about.twitter.com/products/new-profiles">Twitter Profiles</a>.
    h3 Getting your latest tweet.
    p
      | Add&nbsp;
      code http://www.tweetpng.com/:username/tweet/last.png
      | &nbsp;to your&nbsp;
      code img
      | &nbsp;tag in your HTML, where&nbsp;
      code :username
      | &nbsp;is your twitter username.
    p
      | Example:
    p.text-center
      img(src='/joshfinnie/tweet/last.png', alt='')
    h3 Getting a specific tweet
    p
      | Add&nbsp;
      code http://www.tweetpng.com/:username/tweet/:tweetID.png
      | &nbsp;to your&nbsp;
      code img
      | &nbsp;tag in your HTML, where&nbsp;
      code :username
      | &nbsp;is your twitter username.&nbsp;
      code :tweetID
      | &nbsp;is the Twitter ID of the tweet you want to use.
    p
      | Example:
    p.text-center
      img(src='/joshfinnie/tweet/354761173800976384.png', alt='')
